body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.baner {
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
}

.lewy {
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
}

.prawy {
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
}
.stopka { 
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
    clear: both;
}

h4 {
    margin: 0px;
}

h5 {
    margin: 0px;
}

button {
    background-color: #AF4448; 
    color: white;
    padding: 5px;
    margin: 10px;
}

img { 
    height: 100px;
    width: 100px;
}